version: "3.7"

services:

  auth:
    build: 
      context: ./services/auth
      dockerfile: Dockerfile_dev
      network: host
    volumes:
      - ./services/auth/src:/usr/src/app/src

  data:
    environment:
      HASURA_GRAPHQL_DEV_MODE: "true"
      
  events:
    build: 
      context: ./services/events
      dockerfile: Dockerfile_dev
      network: host
    volumes:
      - ./services/events/src:/usr/src/app/src

  actions:
    build: 
      context: ./services/actions
      dockerfile: Dockerfile_dev
      network: host
    volumes:
      - ./services/actions/src:/usr/src/app/src
