version: "3.7"

# yaml refs
x-refs:
  common_config: &common_config
    restart: always
    env_file:
    - .env
  
  api_config: &api_config
    ports:
    - "9000"
    depends_on:
    - postgres
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB} 
      DATA_HOST: http://data:8080


services:

  postgres:
    restart: always
    image: postgres:12
    volumes:
    - db_data:/var/lib/postgresql/data
    ports:
    - "5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

  data:
    <<: *common_config
    image: hasura/graphql-engine:v1.2.0.cli-migrations-v2
    volumes:
      - ./services/data/migrations:/hasura-migrations
      - ./services/data/metadata:/hasura-metadata
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - auth
      - postgres
      - events
    environment:
      HASURA_GRAPHQL_DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      HASURA_GRAPHQL_MIGRATIONS_DIR: "/hasura-migrations"
      HASURA_GRAPHQL_METADATA_DIR: "/hasura-metadata"
      EVENT_TRIGGER_URL: http://events:9000/events
      REMOTE_SCHEMA_URL: http://remote_schemas:9000/graphql
      ACTION_URL: http://actions:9000/actions
      HASURA_GRAPHQL_AUTH_HOOK: http://auth:9000/verify
      
  auth:
    <<: *common_config
    <<: *api_config
    build: 
      context: ./services/auth
      network: host

  events:
    <<: *common_config
    <<: *api_config
    build: 
      context: ./services/events
      network: host

  actions:
    <<: *common_config
    <<: *api_config
    build: 
      context: ./services/actions
      network: host

volumes:
  db_data:
